@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Estilos para todo el documento */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0ebf8;
}

/* Estilos para el formulario*/
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #444;
}

input,
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1.1rem;
}

/* Estilos específicos para los campos de contraseña */
input[type="password"] {
    font-size: 1.2rem;
}

input[type="password"]:focus {
    background-color: #ddd;
}

/* Estilos específicos para el campo de género */
select#genero {
    font-size: 1.1rem;
}

/* Estilos específicos para el campo de país de residencia */
select#pais-residencia {
    font-size: 1.1rem;
}

/* Estilos para campos requeridos */
label[for]:after {
    content: "*";
    color: red;
    margin-left: 4px;
}

/* Estilos para la tabla */

.table th {
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
    border-bottom: 2px solid #e5e5e5;
}

.table td {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}


